<section class="card" >
    <header class="form-head" id="{{ id }}" >
        
        <h2 class="date">Commented by {{created_by}} on {{format_time createdAt }}</h2>
    </header>
    <p class="par-text">{{ text }}</p>
</section>