<form class="card" >
    <header class="form-head" >Create New Post</header>
    <p>
        <label for="title">Title</label>
        <input type="text" id="post-title" name="title" placeholder="Your Title">
    </p>
    <p>
        <label for="content">Content</label>
        <input type="text" id="post-text" name="text" placeholder="Your Text">
    </p>
   <p>
    <button id="post-createBtn">Create</button>
    </p>
</form>


<script src="/js/addPost.js"></script>