{{#each user.posts as |post|}}
<a href="dashboard/post/{{id}}" id="{{id}}" class="user-post"><p class="title">{{name}}</p> <h2 class="date">Created at: {{format_time createdAt}}</h2></a>
 {{/each}}

<a href="/dashboard/addpost" id="new-post">New Post +</a>
<script src="/js/dashboard.js"></script>