{{#each user.posts as |post|}}
<a class="user-post"><p class="title">{{name}}</p> <h2 class="date">Created at: {{format_time createdAt}}</h2></a>
 {{/each}}

<section id="new-post">New Post +</section>
<script src="/js/dashboard.js"></script>