<form class="card" >
    <header class="form-head" >Sign In</header>
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Your Username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="pass" name="password" placeholder="Your Password">
    </p>
    <p>
    <input id="signin" type="submit" value="Sign in" /> 
    </p>
    <a href="/signup" id="sign">Click to Sign UP</a>
</form>


<script src="/js/login.js"></script>