{{#with post}}{{>post-card}} {{/with}}

<header class="comm-line"><p id="comm-head">Comments area ⬇</p>{{#if logged_in}}<button id="comm-button">Add Comment</button> {{/if}} </header>

<form class="form" id="hidden">
    <header class="form-head" >Create New Comment</header>

    <p class="form-p">
        <label class="form-label" for="content">Comment</label>
        <input class="form-input" type="text" id="comm-text" name="text" placeholder="Your Text">
    </p>
   <p>
    <button class="form-btn" id="post-createBtn">Create</button>
   </p>
</form>

{{#each comments as |content|}} {{>comment-card}} {{/each}}

<script src="/js/comment.js"></script>
{{!-- <p>text</p> --}}