{{#with post}}{{>post-card}} {{/with}}

<header class="card-header"><p id="comm-head">Comments area ⬇</p><button id="comm-button">Add Comment</button> </header>
{{#each comments as |content|}} {{>comment-card}} {{/each}}

{{!-- <p>text</p> --}}