 
<form class="card">
  <header class="card-header" >Sign Up</header>
      <p class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" placeholder="Your Username"/>
      </p>
      <p class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" placeholder="Your Email" />
      </p>
      <p class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="Your Password"/>
      </p>
      <p class="form-group">
        <button class="btn btn-primary" type="submit" id="signup">Sign Up</button>
      </p>
      <a href="/login">Log in</a>
</form>


<script src="/js/signup.js"></script>
