<form class="card" >
    <header class="form-head" id="{{post.id}}" >Update Post</header>
    <p>
        <label for="title">Title</label>
        <textarea id="post-title" rows="2" cols="30" >{{post.name}}</textarea>
    </p>
    <p>
        <label for="content">Content</label>
        <textarea id="post-text" rows="10" cols="30" >{{post.text}}</textarea>

    </p>
    <p>
    <button id="post-updateBtn">Update</button>
    </p>
    <p>
    <button id="post-deleteBtn">Delete</button>
    </p>
</form>


<script src="/js/updatePost.js"></script>