
* {
    background-color:aliceblue;
}

nav {
    background-color: grey;
    /* float: left; */
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

nav button {
    background-color: azure;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}

nav button:hover {
    cursor: pointer;
}

.card {
    border: 3px black solid;
    min-height: 140px;
    margin: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 6px;
}
.title {
    background-color: grey;
    color: lightcyan;
    font-size: 26px;
}
.date {
    background-color: grey;
    color: lightcyan;
    font-size: 16px;
    font-weight: lighter;
}
.par-text {
    padding: 15px;
    font-size: 20px;
    margin-top: 4px;
}

.card-header:hover {
    cursor: pointer;
}

.card-h3 {
    background-color: grey;
    color: lightcyan;
    font-size: 16px;
    font-weight: lighter;
    float: right;
}

#comm-button {
    padding: 5px;
    margin: 10px;
}

#comm-head {
    color: lightcyan;
    background-color: gray;
    font-size: 20px;
    padding: 6px;
    margin-top: 10px;
}

#new-post {
    position: absolute;
    color:bisque;
    background-color: gray;
    font-size: 26px;
    bottom: 5%;
    left: 45%;
    width: 10%;
    height: 5%;
    padding: 10px;
    border: 2px black solid ;
}

#new-post:hover{
    cursor: pointer;
}

.user-post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    border: 2px black solid;
    background-color: gray;
    border-radius: 7px;
}

.user-post:hover {
    cursor: pointer;
}